@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  /* background: #1b1523; */
  background-image: url("../public/img/bg.gif");
  background-size: cover;
  background-position: center;
}
